<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.webcharityapp.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.webcharityapp.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mainmenuservlet</servlet-name>
  	<display-name>mainmenuservlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.webcharityapp.controller.mainmenuservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userlist</servlet-name>
  	<display-name>userlist</display-name>
  	<description></description>
  	<servlet-class>com.revature.webcharityapp.controller.userlist</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mainmenuservlet</servlet-name>
  	<url-pattern>/mainmenuservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userlist</servlet-name>
  	<url-pattern>/userlist</url-pattern>
  </servlet-mapping>
</web-app>
